<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PayPal JS SDK Save Payment Method Integration</title>
  </head>
  <body style="width: 100vw;">
    <div
      style="display: flex; justify-content: center; margin-top: 100px;"
    >
      <div id="paypal-button-container"></div>
    </div>
    <p id="result-message"></p>

    <script
      src="https://www.paypal.com/sdk/js?client-id=<%= clientId %>"
    ></script>
    <script src="checkout.js"></script>
  </body>
</html>
