<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upsale - PayPal JS SDK Save Payment Method Integration</title>
  </head>
  <body style="width: 100vw;">
    <div
      style="display: flex; justify-content: center; margin-top: 100px;"
    >
      <div>
        <input id="amount" value="10" name="amount" type="number" placeholder="amount">
        <button>Pay</button>
        <div>
          <code style="max-width: 500px;" id="result-message">
          </code>
        </div>

      </div>
    </div>

    <script src="upsale.js"></script>
  </body>
</html>
